$background-color: #343A40;
$border: 1px solid $background-color;
$font: Roboto, sans-serif;


.header-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-color;
}

.header-wrapper__logo {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: $font;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
}

.header-wrapper__search {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 530px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px 0 0 5px;
    border: $border;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 44px;
    background: #EB6F4C;
    border-radius: 0 5px 5px 0;
    border: $border;
    cursor: pointer;
  }
}

.header-wrapper__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.celsius {
  font-family: $font;
  font-size: 18px;
  line-height: 21px;
  margin-right: 2px;
  color: #343A40;
}

.slash {
  font-family: $font;
  font-size: 18px;
  line-height: 21px;
  color: #343A40;
}

.fahrenheit {
  font-family: $font;
  font-size: 18px;
  line-height: 21px;
  margin-left: 2px;
  color: #343A40;
}

.switched {
  color: #EB6F4C;
}