

.city-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  padding: 0 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.city {

}

.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
}